@import "./styles/fonts/NotoSans.css";

@import "./styles/colours.css";

@import "tailwindcss";

:root {
  --base-hue: 32;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

@layer base {
  :root {
    @apply bg-white font-[Noto_Sans] text-black dark:bg-black dark:text-white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    /* Leseliste:
       https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
       https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
